#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


.wrapper {
	border-bottom: 20px solid;
	width:100%;
	height:100%;
	margin: 0 auto;
	color: #008080;

}

.header {
	font-family:sans-serif;
	font-size:40px;
	border-bottom 5px
	padding:10px;
}

#menu {
	text-align: left;
}

#menu ul {
	padding: 0px;
	text-decoration: none;
	display: inline-block;
}
#menu a {
	display: block;
	color: white;
	background-color: #FF4500;
	text-decoration: none;
	text-align: center;
	padding: 6px;
 	border-radius: 22px;	
}

#menu a:hover {
	background-color: #FFA500;
	
}

#menu li {
	margin-right: 0.5em;
	display: inline-block;
}


body {
	background: url(http://img4.cliparto.com/pic/s/256724/4930598-abstract-waves-background-vintage-hand-drawn.jpg);
}

#center_div {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

.image {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	font-family: Cursive;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #FF4500;
}

h2 {
	font-family: Cursive;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FF4500;
}
#hName {
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: block;

}

.image_js {
	display: block;
	width: 100%;
	max-width: 100%;
}



.gallery {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.gallery ul {
	list-style:none;
}

.gallery li {
	display: inline-block;
	margin:10px;
}

.gallery img {
	display:block;
	padding:6px;
	background:#008080;
	box-shadow:1px 1px 3px #000;
}


.gallery img;hover {
	border: 1px solid #FF4500;
}

.divider {
	border-bottom: 10px solid;
	width:100%;
	height:100%;
	margin: 0 auto;
	color: #008080;

}

p {
	margin-bottom: 0;
	margin-top: 0;
}

h3 {
	background-color: #008080;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left:7px;
	width: 100%;
	color:#FFF8DC;

}


#containerThree {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	float:left;
}


#slideshow {
    position:relative;
    height:350px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    right:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}

#picOne, #picTwo, #picThree {
position:absolute;
display: none;
}

#pics {
width:442px;
height:647px;
float:right;
margin-left: auto;
margin-right: auto;
}













